<div class="header py-4">
    <div class="container">
      <div class="d-flex">
        <a class="header-brand" href="/">
          Impulsius
        </a>
        <div class="d-flex order-lg-2 ml-auto">
          <div class="nav-item d-none d-md-flex">
            <a href="javascript:void(0)" class="btn btn-sm" target="_blank">Account Settings</a>
          </div>
          <div class="nav-item d-none d-md-flex">
            <a href="/auth/login" class="btn btn-sm btn-outline-primary">Logout</a>
          </div>
        </div>
        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
          <span class="header-toggler-icon"></span>
        </a>
      </div>
    </div>
  </div>