<style type="text/css">
.multiline {
  white-space: pre-wrap;
}

.scroll {
    max-height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll::-webkit-scrollbar {
  display: none;
}
</style>

<div class="multiline">
System Info: Java 1.8 (OpenJDK 64-Bit Server VM 25.292-b10) Host: Linux 4.18.0-305.12.1.el8_4.x86_64 (amd64)
Loading libraries, please wait...
[18:30:52 INFO]: Environment: authHost='https://authserver.mojang.com', accountsHost='https://api.mojang.com', sessionHost='https://sessionserver.mojang.com', servicesHost='https://api.minecraftservices.com', name='PROD'
[18:30:52 INFO]: Found new data pack file/bukkit, loading it automatically
[18:30:53 INFO]: Reloading ResourceManager: Default, bukkit
[18:30:54 INFO]: Loaded 7 recipes
[18:30:56 INFO]: Starting minecraft server version 1.16.5
[18:30:56 INFO]: Loading properties
[18:30:56 INFO]: This server is running Paper version git-Paper-788 (MC: 1.16.5) (Implementing API version 1.16.5-R0.1-SNAPSHOT)
[18:30:56 INFO]: Debug logging is disabled
[18:30:56 INFO]: Server Ping Player Sample Count: 12
[18:30:56 INFO]: Using 4 threads for Netty based IO
[18:30:56 INFO]: Default game type: SURVIVAL
[18:30:56 INFO]: Generating keypair
[18:30:57 INFO]: Starting Minecraft server on 0.0.0.0:25565
[18:30:57 INFO]: Using epoll channel type
[18:30:58 INFO]: Server permissions file permissions.yml is empty, ignoring it
[18:30:58 INFO]: Preparing level "world"
[18:31:08 WARN]: Unable to find spawn biome
[18:31:10 WARN]: Unable to find spawn biome
[18:31:11 INFO]: Preparing start region for dimension minecraft:overworld
[18:31:11 INFO]: Preparing spawn area: 0%
[18:31:15 INFO]: Preparing spawn area: 0%
[18:31:15 INFO]: Preparing spawn area: 0%
[18:31:16 INFO]: Preparing spawn area: 1%
[18:31:17 INFO]: Preparing spawn area: 1%
[18:31:17 INFO]: Preparing spawn area: 2%
[18:31:17 INFO]: Preparing spawn area: 2%
[18:31:18 INFO]: Preparing spawn area: 4%
[18:31:18 INFO]: Preparing spawn area: 4%
[18:31:19 INFO]: Preparing spawn area: 4%
[18:31:19 INFO]: Preparing spawn area: 4%
[18:31:20 INFO]: Preparing spawn area: 7%
[18:31:20 INFO]: Preparing spawn area: 7%
[18:31:21 INFO]: Preparing spawn area: 8%
[18:31:21 INFO]: Preparing spawn area: 9%
[18:31:27 INFO]: Preparing spawn area: 17%
[18:31:28 INFO]: Preparing spawn area: 18%
[18:31:28 INFO]: Preparing spawn area: 18%
[18:31:29 INFO]: Preparing spawn area: 19%
[18:31:29 INFO]: Preparing spawn area: 20%
[18:31:30 INFO]: Preparing spawn area: 21%
[18:31:38 INFO]: Preparing spawn area: 47%
[18:31:39 INFO]: Preparing spawn area: 48%
[18:31:39 INFO]: Preparing spawn area: 49%
[18:31:40 INFO]: Preparing spawn area: 50%
[18:31:40 INFO]: Preparing spawn area: 51%
[18:31:41 INFO]: Preparing spawn area: 53%
[18:31:41 INFO]: Preparing spawn area: 54%
[18:31:42 INFO]: Preparing spawn area: 57%
[18:31:42 INFO]: Preparing spawn area: 59%
[18:31:43 INFO]: Preparing spawn area: 60%
[18:31:43 INFO]: Preparing spawn area: 61%
[18:31:44 INFO]: Preparing spawn area: 61%
[18:31:44 INFO]: Preparing spawn area: 61%
[18:31:45 INFO]: Preparing spawn area: 62%
[18:31:45 INFO]: Preparing spawn area: 63%
[18:31:50 INFO]: Preparing spawn area: 94%
[18:31:51 INFO]: Preparing spawn area: 96%
[18:31:51 INFO]: Preparing spawn area: 100%
[18:31:52 INFO]: Preparing spawn area: 100%
[18:31:54 INFO]: Time elapsed: 2957 ms
[18:31:54 INFO]: Preparing start region for dimension minecraft:the_nether
[18:31:56 INFO]: Preparing spawn area: 0%
[18:31:56 INFO]: Preparing spawn area: 1%
[18:31:57 INFO]: Preparing spawn area: 2%
[18:31:57 INFO]: Preparing spawn area: 3%
[18:31:58 INFO]: Preparing spawn area: 5%
[18:31:58 INFO]: Preparing spawn area: 7%
[18:31:59 INFO]: Preparing spawn area: 10%
[18:31:59 INFO]: Preparing spawn area: 15%
[18:32:00 INFO]: Preparing spawn area: 18%
[18:32:08 INFO]: Preparing spawn area: 60%
[18:32:08 INFO]: Preparing spawn area: 64%
[18:32:09 INFO]: Preparing spawn area: 70%
[18:32:09 INFO]: Preparing spawn area: 79%
[18:32:10 INFO]: Preparing spawn area: 81%
[18:32:10 INFO]: Preparing spawn area: 84%
[18:32:11 INFO]: Preparing spawn area: 89%
[18:32:11 INFO]: Preparing spawn area: 95%
[18:32:11 INFO]: Time elapsed: 7874 ms
[18:32:11 INFO]: Preparing start region for dimension minecraft:the_end
[18:32:12 INFO]: Preparing spawn area: 0%
[18:32:14 INFO]: Preparing spawn area: 14%
[18:32:14 INFO]: Preparing spawn area: 32%
[18:32:15 INFO]: Preparing spawn area: 42%
[18:32:15 INFO]: Preparing spawn area: 69%
[18:32:16 INFO]: Preparing spawn area: 100%
[18:32:16 INFO]: Time elapsed: 838 ms
[18:32:16 INFO]: Running delayed init tasks
[18:32:16 INFO]: Done (12.389s)! For help, type "help"
[Impulsius] Server online!
[18:32:16 INFO]: Timings Reset
</div>