<!doctype html>
<%- include('../../components/head'); %>
<html lang="en" dir="ltr">
  <body class="">
    <div class="page">
      <div class="page-main">
        <%- include('../../components/nav'); %>
        <%- include('../../components/servernav'); %>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Console
              </h1>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <%- include('../../components/footer'); %>
  </body>
</html>